appnope==0.1.0
argcomplete==1.8.2
backcall==0.1.0
beautifulsoup4==4.5.3
bleach==3.0.0
certifi==2018.10.15
chardet==3.0.4
cycler==0.10.0
cymem==2.0.2
cytoolz==0.9.0.1
decorator==4.3.0
defusedxml==0.5.0
dill==0.2.8.2
Django==2.1.15
django-appconf==1.0.2
django-compressor==2.2
docx2txt==0.6
EbookLib==0.15
en-core-web-sm==2.0.0
entrypoints==0.2.3
idna==2.7
ipykernel==5.0.0
ipython==7.0.1
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
kiwisolver==1.0.1
lxml==4.2.5
MarkupSafe==1.0
matplotlib==3.0.0
mistune==0.8.3
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.1
nbconvert==5.4.0
nbformat==4.4.0
notebook>=5.7.2
numpy==1.22.0
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==6.2.0
plac==0.9.6
preshed==2.0.1
prometheus-client==0.4.0
prompt-toolkit==2.0.5
ptyprocess==0.6.0
Pygments==2.2.0
pyparsing==2.2.2
PyPDF2==1.26.0
python-dateutil==2.7.3
python-pptx==0.6.5
pytz==2018.5
pyzmq==17.1.2
qtconsole==4.4.1
rcssmin==1.0.6
regex==2018.1.10
requests==2.20.0
rjsmin==1.0.12
scikit-learn==0.20.0
scipy==1.1.0
seaborn==0.9.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.10.0
sklearn==0.0
spacy==2.0.16
SpeechRecognition==3.6.3
terminado==0.8.1
testpath==0.4.2
thinc==6.12.0
tika==1.19
toolz==0.9.0
tornado==5.1.1
tqdm==4.28.1
traitlets==4.3.2
ujson==1.35
urllib3==1.24.2
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
wrapt==1.10.11
xlrd==1.0.0
XlsxWriter==1.1.2
