{% extends "base_site.html" %}

{% block title%}Annotations{% endblock %}

{% block content %}
<div class="container">
    <div class="row row-border">
        <div class="col-md-12">
            <section>
                <h1><small>Annotations</small></h1>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col" data-column-id="file_name" data-order="desc" data-align="left">File Name</th>
                            </tr> 
                        </thead>
                        <tbody>
                            {% for annotation in annotations %}
                                <tr class="clickable-row" data-href="{% url 'detail_annotation' annotation.pk %}">
                                    <td>{{ annotation.file_name }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<!-- jQuery isn't inherited for some reason? Will worry about this later -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    console.log('hello world');

    // jQuery to handle the onclick functionality of the rows
    $(document).ready(function(){
        $(".clickable-row").on('click', function(){
            window.location = $(this).data("href");
        })
    });

</script>
{% endblock %}
